body{

margin:0;

font-family:Arial;

background:#0f172a;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

text-align:center;

}

button{

padding:15px 30px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:18px;

margin-top:20px;

}